/** @format */

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/ptsans-400.woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/ptsans-700.woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	min-height: 100%;
	margin: 0 auto;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 18px;
	line-height: 21px;
	width: 1200px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.navigation {
	font-family: 'PT Sans', Arial, sans-serif;
	display: flex;
	width: 1200px;
	margin: 0 auto;
	align-items: center;
	height: 64px;
	padding: 0, 70px;
	position: relative;
}

.navigation_logo_item {
	display: block;
	margin-left: 64px;
	margin-right: 30px;
	width: 140px;
}

.menu_list {
	font-family: 'PT Sans', Arial, sans-serif;
	display: flex;
	justify-content: space-between;
	margin: 5px;
	padding: 10px;
}

.user_menu {
	display: flex;
	list-style: none;
	justify-content: space-between;
}

.navigation_logo_item {
	font-family: 'PT Sans', Arial, sans-serif;
	width: 138px;
	height: 64px;
	align-self: flex-start;
}

.menu_item {
	font-family: 'PT Sans', Arial, sans-serif;
	list-style-type: none;
	text-decoration: none;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	font-weight: 700;
	position: relative;
	display: block;
}

.menu_items {
	font-family: 'PT Sans', Arial, sans-serif;
	list-style-type: none;
	text-decoration: none;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	font-weight: 700;
	position: relative;
	display: block;
}

.menu_items::after {
	position: absolute;
	content: '';
	left: -2px;
	bottom: 0;
	height: 2px;
	background-color: #756257;
	margin-bottom: -20px;
	width: 70px;
}

.menu_itemes {
	font-family: 'PT Sans', Arial, sans-serif;
	list-style-type: none;
	text-decoration: none;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	font-weight: 700;
	position: relative;
	display: block;
}

.menu_itemes::after {
	position: absolute;
	content: '';
	left: -2px;
	bottom: 0;
	height: 2px;
	background-color: #756257;
	margin-bottom: -20px;
	width: 100px;
}

.button {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	background-color: #756157;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;
	padding: 8px, 36px;
	border: none;
	width: 160px;
	height: 36px;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 339px;
	margin-right: 285px;
	list-style-type: none;
	font-family: 'PT Sans', Arial, sans-serif;
}

.main_container {
	flex-grow: 1;
	background-color: #ffffff;
	width: 1200px;
	margin: 0 auto;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.hero {
	background-image: url('../images/slaider.svg'),
		url('../images/background.png');
	text-align: center;
	background-color: #82b3d3;
	padding-top: 45px;
	padding-bottom: 82px;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 57px, 100% auto;
	background-position: bottom center, center center;
}
.logo {
	display: block;
	margin: 0 auto;
}

.advantages {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 69px;
}

.advantages_list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-top: 21px;
}

.advantages_titles {
	font-family: 'PT Sans', Arial, sans-serif;
	width: 620px;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 25px;
}

.advantages_subtitles {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #333333;
	margin: 0;
	margin-bottom: 69px;
}
.advantages_plus {
	display: flex;
	width: 1200px;
	background-color: #82b3d3;
	color: #ffffff;
	justify-content: space-between;
}

.advantages_plus_town {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.advantages_plus_life {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

.advantages_area_square {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
}

.advantages_area {
	background-color: #83b3d31f;
}

.advantages_container {
	min-width: 230px;
	min-height: 200px;
	padding: 90px 85px;
	max-width: 400px;
}

.advantages_area_lions {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

.advantages_ride_tourists {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
}

.advantages_ride {
	background-color: #83b3d31f;
}

.advantages_bridge_item {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.advantages_bridge {
	display: flex;
	background-color: #82b3d3;
	color: #ffffff;
}

.advantages_bridge_brave {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 18 px;
	line-height: 28px;
	text-align: center;
}

.attractions_go {
	font-family: 'PT Sans', Arial, sans-serif;
	width: 620px;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
}

.attractions_text {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #333333;
	margin: 0;
	margin-bottom: 64px;
}

.attractions_house {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

.attractions_recomendation {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

.attractions_food_item {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

.attractions_recomended,
.attractions_souvenirs,
.attractions_food {
	width: 400px;
	padding: 80px 85px;
}

.attractions_list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 1200px;
	text-align: center;
	list-style-type: none;
}

.attractions_forever {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

.attraction_souvenirs_item {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

.attractions_description {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

.drive_question {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
}

.drive_date {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
	margin: 0;
	margin-bottom: 54px;
}

.drive {
	text-align: center;
	padding: 96px 0;
}

.subscribe_container {
	width: 684px;
	margin: 0 auto;
	padding-top: 96px;
	padding-bottom: 104px;
}

.subscribes_container {
	width: 684px;
	margin: 0 auto;
	padding-top: 96px;
	padding-bottom: 104px;
}

.search_button {
	font-family: 'PT sans', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-transform: uppercase;
	text-align: center;
	padding: 8px 50px;
	background-color: #756157;
	color: #ffffff;
	border-style: none;
}

.subscribe {
	background-image: url('../images/subscribe.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	text-align: center;
	background-color: #82b3d3;
}

.subscribe_title {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
	color: #ffffff;
}

.subscribes_title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subscribes {
	width: 684px;
	margin: 0 auto;
	text-align: center;
	color: #000000;
}

.susbscribe_desсription {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 22px;
	text-align: center;
	margin-bottom: 20px;
	margin: 0;
}

.susbscribes_desсription {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	margin: 0;
	margin-bottom: 54px;
}

.subscribe_button {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	background-color: #82b3d3;
	text-transform: uppercase;
	border-radius: 0 4px 4px 0;
	padding: 8px 50px;
	border-style: none;
}

.footer_social_block {
	width: 142px;
	margin-right: 42px;
}

.footer_phone {
	width: 720px;
	margin-right: 42px;
	font-weight: 400;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	text-decoration-line: none;
	color: #000;
}

.footer_logo {
	width: 115px;
	height: 33px;
	fill: #000;
}

.footer_container {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 30px;
	align-items: center;
	background-color: #ffffff;
}

.footer_social_block {
	width: 142px;
	margin-right: 42px;
	list-style-type: none;
}

.button_social {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 47px;
	height: 40px;
	color: #83b3d3;
	background-repeat: no-repeat;
	background-position: center;
	box-sizing: border-box;
}

.footer_social_block {
	display: flex;
	flex-wrap: wrap;
	width: 145px;
	margin: 0;
	margin-right: 41px;
	margin-left: 70px;
	padding: 0;
	list-style-type: none;
}

.inside_background {
	background-image: url('../images/filtres.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: #ffffff;
	margin-bottom: 50px;
}

.inside_header_title {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
	margin: 0;
	color: #ffffff;
	border: none;
	list-style-type: none;
}

.list_hotels_title {
	width: 338px;
	margin: 0;
	margin-left: 70px;
	margin-right: 200px;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.breadcrumb {
	list-style-type: none;
	display: flex;
}

.breadcrumb_item_hotel {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	text-decoration-line: none;
	color: #ffffff;
	margin-left: -23px;
}

.price_item_button {
	font-family: 'PT Sans', Arial, sans-serif;
	border-radius: 4px;
	width: 191px;
	height: 36px;
	background-color: #82b3d3;
	padding: 9px 50px;
	border: none;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 700;
}

.button_reset {
	border-radius: 4px;
	width: 191px;
	height: 36px;
	padding: 9px 50px;
	border: none;
	text-transform: uppercase;
	background-color: #00000000;
	color: #ffffff;
	display: flex;
}

.select_control {
	width: 292px;
	margin-right: 70px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	border-radius: 4px;
	border-color: #e5e5e5;
	padding: 14px;
}

.pagination_link {
	font-family: 'PT sans', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background-color: #82b3d3;
	padding: 12px 24px;
	margin-right: 8px;
	border-radius: 4px;
}

.pagination_current {
	color: black;
	background-color: #e6e6e6;
}

.product_card_detail {
	padding: 8px 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	border-style: none;
	border-radius: 4px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	display: block;
	color: #ffffff;
	background-color: #756157;
}

.product_card_button {
	font-family: 'PT sans', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	border-style: none;
	border-radius: 4px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background-color: #82b3d3;
}

.product_card_button:hover {
	background-color: #7db54f;
}

.product_card_squares {
	width: 1060px;
	margin: 0 auto;
}

.range_item {
	display: flex;
	border-radius: 5px;
	height: 20px;
	width: 100%;
	margin: 5px, 0;
}

.drive_container {
	width: 592px;
	margin: 0 auto;
	text-align: center;
}

.attractions {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 64px;
}

.attractions_recomended {
	background-color: #83b3d333;
}

.attractions_souvenirs {
	background-color: #83b3d333;
}

.advantages_route {
	background-color: #83b3d333;
}

.user_menu_link_button {
	min-width: 20px;
	min-height: 20px;
}

.product-card-container {
	width: 300px;
	margin: 20px auto;
}

.product_card_item {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: inherit;
	text-decoration-line: none;
}

.product_card_title {
	font-family: 'PT sans', 'Arial', sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	margin-bottom: 16px;
}
.product_card_image {
	object-fit: contain;
	margin-bottom: 16px;
}

.product_card_price {
	text-align: end;
}

.product_card_information {
	display: grid;
	grid-template-columns: 140px 140px;
	row-gap: 16px;
	column-gap: 20px;
	justify-content: space-between;
}

.pagination {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 80px;
	margin-bottom: 70px;
	border-top: 1px solid #e6e6e6;
}

.raiting {
	width: 140px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;
	background-color: #f2f2f2;
	margin: 0;
	padding: 9px 22px 8px 23px;
}

.filter-sorting {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.page_container {
	width: 1200px;
}

.advantages_plus_town_item {
	width: 800px;
	height: 100%;
}

.advantages_route_beatiful {
	font-family: 'PT sans', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 35px;
}

.advantages_route_driving {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	margin-top: 37px;
}

.search {
	padding: 96px 0;
}

hr {
	width: 60px;
	height: 0, 5px;
	color: #0000004d;
	border: 1px solid;
}

.advantages_ride_generality {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	margin-top: 45px;
}

.susbscribe_desсription {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 54px;
	color: #ffffff;
}

.inside_header {
	padding: 35px 70px 0 70px;
	height: 412px;
}

.breadcrumbs-link {
	font-family: 'PT sans', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	text-decoration-line: none;
	color: #ffffff;
	margin-right: 28px;
}

.breadcrumb_item_home {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	text-decoration-line: none;
	color: #ffffff;
	margin-left: -40px;
}

.product_card_item {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: inherit;
	text-decoration: none;
	grid-column: 1/-1;
}

.product_card_menu {
	display: grid;
	box-sizing: border-box;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 0;
	margin: 0 70px;
}

.product_card_list {
	width: 340px;
	display: grid;
	grid-template-columns: repeat(2, 140px);
	grid-template-rows: 1fr;
	column-gap: 20px;
	justify-content: center;
	border: 1px solid #e6e6e6;
}

.product_card_rows {
	grid-column: 1/-1;
}

.product_card_image {
	width: 100%;
	height: 100%;
	object-fit: none;
}

.subscribe_input {
	font-family: 'PT sans', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 18px;
	border-radius: 4px 0 0 4px;
	padding: 12px 20px;
	width: 452px;
	height: 52px;
	background-color: #f2f2f2;
	border: none;
}

.subscribe_form {
	display: flex;
	justify-content: center;
}

.user_icon {
	position: relative;
	display: block;
	padding: 22px 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: inherit;
	text-decoration-line: none;
}

.display_menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.display_menu_link {
	padding: 13px 16px;
	width: 160px;
	border: 2px solid #000000;
	border-radius: 4px;
	margin: 0;
	margin-right: 8px;
}

.range_scale {
	position: relative;
	width: 226px;
	height: 4px;
	background-color: #ffffff;
	border-radius: 2px;
}

.range_bar {
	position: absolute;
	height: 4px;
}

.range_toggle {
	position: absolute;
	border-radius: 5px;
	width: 20px;
	height: 20px;
	border: none;
	background-color: #ffffff;
}

.toggle_min {
	top: -8px;
	right: -20px;
}

.toggle_max {
	top: -8px;
	right: -185px;
}

.range_input {
	width: 120px;
	height: 44px;
	margin: 15px;
}

.price {
	border: none;
}

.filters {
	display: flex;
	flex-wrap: wrap;
	gap: 44px;
	line-height: 23px;
}

.infrastructure {
	border: none;
	margin: 0;
	padding: 0;
}

.infrastructure_title {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}

.infrastructure_filter {
	width: 150px;

	list-style-type: none;
}

.infrastructure_filter_label {
	position: relative;
}

.controls_mark {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background-color: #ffffff;
	left: -36px;
}

.infrastructures_title {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 700;
}

.infrastructures {
	border: none;
	list-style: none;
}

.control_radio {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ffffff;
	left: -36px;
}

.infrastructure_filter_items {
	list-style: none;
	margin-bottom: 20px;
}

.price_item {
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}

.buttons {
	min-width: 191px;
	display: flex;
	flex-direction: column;
	align-self: center;
}

.stars {
	width: 84px;
	background-color: #ffffff;
	background-image: url('../images/star.svg');
	background-repeat: space no-repeat;
	background-position: top 10px left;
}

.infrastructure_filtres[type='checkbox']:checked + .controls_mark {
	background-image: url('../images/checked.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.infrastructure_filtres[type='radio']:checked + .control_radio::before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #3f5e72;
	top: 25%;
	left: 25%;
}

.infrastructure_filter_label:active .control_radio {
	background-color: rgb(255, 255, 255, 0.6);
}

.infrastructures_filter {
	list-style: none;
}

.range {
	margin: 36px;
}

.range_wrapper_inputs {
	margin-top: -6px;
}

.user_menu_item_favorites:before {
	position: absolute;
	content: '12';
	font-weight: 400;
	font-size: 10px;
	text-align: center;
	color: #ffffff;
	background-color: #7db54f;
	border-radius: 50%;
	z-index: 1;
	top: 11px;
}

.user_menu_icon {
	margin: 10px;
}

.star_one {
	background-color: #ffffff;
	background-image: url('../images/star.svg');
	background-repeat: space no-repeat;
	background-position: top 10px left;
	width: 66px;
}

.star_two {
	background-color: #ffffff;
	background-image: url('../images/star.svg');
	background-repeat: space no-repeat;
	background-position: top 10px left;
	width: 42px;
}
