/** @format */

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/ptsans-400.woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/ptsans-700.woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	min-height: 100%;
	margin: 0 auto;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 18px;
	line-height: 21px;
	width: 1200px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.navigation {
	font-family: 'PT Sans', Arial, sans-serif;
	display: flex;
	width: 1200px;
	margin: 0 auto;
	align-items: center;
}

.navigation_logo_item {
	display: block;
	margin-bottom: -18px;
	width: 140px;
}

.menu_list {
	font-family: 'PT Sans', Arial, sans-serif;
	display: flex;
	justify-content: space-between;
	margin: 5px;
	padding: 10px;
}

.user_menu {
	max-width: 268px;
	list-style: none;
}

.navigation_logo_item {
	font-family: 'PT Sans', Arial, sans-serif;
	width: 138px;
	height: 64px;
	align-self: flex-start;
}

.navigation_logo {
	margin-left: 64px;
	margin-right: 30px;
	width: 140px;
	position: relative;
	top: 6px;
}

.menu_item {
	font-family: 'PT Sans', Arial, sans-serif;
	list-style-type: none;
	text-decoration: none;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	margin-bottom: -38px;
	font-weight: 700;
}

.button {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	background-color: #756157;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;
	padding: 8px 50px;
	border: none;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 339px;
	margin-right: 285px;
	list-style-type: none;
	font-family: 'PT Sans', Arial, sans-serif;
}

.main_container {
	width: 1200px;
	margin: 0 auto;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.hero {
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	text-align: center;
	background-color: #82b3d3;
	padding-top: 45px;
	padding-bottom: 82px;
}
.logo {
	display: block;
	margin: 0 auto;
}

.advantages {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 69px;
}

.advantages_list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-top: 21px;
}

.advantages_titles {
	font-family: 'PT Sans', Arial, sans-serif;
	width: 620px;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 25px;
}

.advantages_subtitles {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #333333;
	margin: 0;
	margin-bottom: 69px;
}
.advantages_plus {
	display: flex;
	width: 1200px;
	background-color: #82b3d3;
	color: #ffffff;
}

.advantages_plus_town {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

.advantages_plus_life {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: left;
}

.advantages_area_square,
.advantages_route_beatiful,
.advantages_route {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	width: 400px;
	color: #000000;
}

.advantages_area {
	background-color: #83b3d31f;
}

.advantages_container {
	width: 230px;
	min-height: 200px;
	padding: 90px 85px;
	margin: 0 auto;
}

.advantages_area_lions {
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

.advantages_route_driving {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

.advantages_ride_tourists {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

.advantages_ride {
	background-color: #83b3d31f;
}

.advantages_bridge_item {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	text-align: end;
}

.advantages_bridge {
	display: flex;
	background-color: #82b3d3;
	color: #ffffff;
}

.advantages_bridge_brave {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: end;
}

.attractions_go {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}

.attractions_text {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #333333;
	margin: 0;
	margin-bottom: 64px;
}

.attractions_house {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

.attractions_recomendation {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

.attractions_food_item {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

.attractions_recomended,
.attractions_souvenirs,
.attractions_food {
	width: 400px;
	padding: 80px 85px;
}

.attractions_list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 1200px;
	text-align: center;
	list-style-type: none;
}

.attractions_forever {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

.attraction_souvenirs_item {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

.attractions_description {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

.drive_question {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}

.drive_date {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #333333;
}

.drive {
	text-align: center;
	padding: 96px 0;
}

.subscribe_container {
	width: 684px;
	margin: 0 auto;
	padding-top: 96px;
	padding-bottom: 104px;
}

.search_button {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	background-color: #756157;
	text-transform: uppercase;
	border-radius: 4px;
	padding: 8px 50px;
	border: none;
}

.subscribe {
	background-image: url('../images/subscribe.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	text-align: center;
	background-color: #82b3d3;
}

.subscribe_title {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
	color: #e6e6e6;
}

.susbscribe_desсription {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 22px;
	text-align: center;
	margin-bottom: 20px;
	margin: 0;
	color: #e6e6e6;
}

.subscribe_button {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	background-color: #82b3d3;
	text-transform: uppercase;
	border-radius: 0 4px 4px 0;
	padding: 8px 50px;
}

.footer_social_block {
	width: 142px;
	margin-right: 42px;
}

.footer_phone {
	width: 720px;
	margin-right: 42px;
	font-weight: 400;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	text-decoration-line: none;
	color: #000;
}

.footer_logo {
	width: 115px;
	height: 33px;
	fill: #000;
}

.footer_container {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	align-items: center;
}

.footer_social_block {
	width: 142px;
	margin-right: 42px;
	list-style-type: none;
}

.button-social {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: inherit;
	text-align: center;
	text-decoration-line: none;
}

.inside_background {
	background-image: url('../images/filters.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: #ffffff;
	margin-bottom: 50px;
}

.inside_header_title {
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
}

.list_hotels_title {
	width: 338px;
	margin: 0;
	margin-left: 70px;
	margin-right: 200px;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.breadcrumb {
	list-style-type: none;
}

.breadcrumb_item_hotel {
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	text-decoration-line: none;
	color: #ffffff;
}

.price_item_button {
	border-radius: 4px;
	width: 191px;
	height: 36px;
	background-color: #82b3d3;
	padding: 9px 50px;
	border: none;
	text-transform: uppercase;
	color: #ffffff;
}

.filters {
	display: flex;
	padding: 70px;
	padding-top: 0;
}

.infrastructure {
	width: 150px;
	height: 157px;
	margin: 0;
	padding: 0;
	border: 0;
	margin-right: 70px;
	list-style: none;
}

.infrastructure_title {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	padding: 0;
	margin-bottom: 32px;
}

.infrastructure_filter_items {
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	list-style-type: none;
}

.price {
	border: none;
}

.button_reset {
	border-radius: 4px;
	width: 191px;
	height: 36px;
	padding: 9px 50px;
	border: none;
	text-transform: uppercase;
	background-color: #00000000;
	color: #ffffff;
	display: flex;
}

.select_control {
	width: 292px;
	margin-right: 70px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	border-radius: 4px;
	border-color: #e5e5e5;
	padding: 14px;
}

.pagination_link {
	font-family: 'PT sans', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background-color: #82b3d3;
	padding: 12px 24px;
	margin-right: 8px;
	border-radius: 4px;
}

.pagination_current {
	color: black;
	background-color: #e6e6e6;
}

.product_card_detail {
	font-family: 'PT sans', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	background-color: #756157;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;
	padding: 9px 22px 8px 23px;
	text-decoration-line: none;
	margin: 0;
}

.product_card_button {
	font-family: 'PT sans', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #82b3d3;
	border-radius: 4px;
	padding: 8px 20px;
	border: none;
}

.product_card_button:hover {
	background-color: #7db54f;
}

.product_card_squares {
	width: 1060px;
	margin: 0 auto;
}

.display_menu_link {
	width: 160px;
	list-style: none;
}

.display_menu {
	list-style: none;
}

.product_card__menu {
	display: grid;
	grid-template-columns: repeat(3, 340px);
	gap: 20px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.range_item {
	display: flex;
	border-radius: 5px;
	height: 20px;
	width: 100%;
	margin: 5px, 0;
}

.drive_container {
	width: 592px;
	margin: 0 auto;
	text-align: center;
}

.attractions {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 64px;
}

.attractions_recomended {
	background-color: #83b3d333;
}

.attractions_souvenirs {
	background-color: #83b3d333;
}

.advantages_route {
	background-color: #83b3d333;
}

.user_menu,
.user_menu_link {
	display: flex;
	justify-content: space-between;
}

.user_menu_link_button {
	min-width: 20px;
	min-height: 20px;
}

.product-card-container {
	width: 300px;
	margin: 20px auto;
}

.product_card_item {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: inherit;
	text-decoration-line: none;
}

.product_card_list {
	width: 340px;
	margin: 20px auto;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
}

.product_card_title {
	margin: 0;
	padding: 0;
	margin-bottom: 16px;
}
.product_card_image {
	object-fit: contain;
	margin-bottom: 16px;
}

.product_card_price {
	text-align: end;
}

.product_card_information {
	display: grid;
	grid-template-columns: 140px 140px;
	row-gap: 16px;
	column-gap: 20px;
	justify-content: space-between;
}

.pagination {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 80px;
}

.raiting {
	width: 95px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;
	background-color: #f2f2f2;
	margin: 0;
	padding: 9px 22px 8px 23px;
}

.filter-sorting {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.page_container {
	width: 1200px;
	margin: 0 auto;
}
